body{
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

h1{
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 400;
}

.link{
  text-decoration: none;
  text-align: center;
  color: black;
}

.img-description1{
  padding: 0px 0px;
  margin: 10px 0px 0px;
  font-size: 1.25rem;
  font-weight: 600;
}

.img-description2{
  padding: 0px 0px;
  margin: 0px 0px 40px;
  font-size: 1rem;
  font-weight: 400;
}

.text{
  font-size: 1.25rem;
  font-weight: 400;
}

.img-fluid{
  padding: 0 40px;
}

.img-about{
  width: 100%;
  border-radius: 50%;
  padding: 25px 25px;
  margin: 0;
}

.img-fluid:hover{
  opacity: 0.5;
}

.container{
  width: 75%;
  color: black;
  margin-top: 30px;
}

.container-fixed{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
  margin-top: 30px;
}

.navbar-toggler-icon{
  font-size: 4rem;
}

.nav-item{
  padding: 10px 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

.nav-item:hover{
  color: darkgray;
  font-weight: 600;
}

.footer{
  text-align: center;
  margin-top: 40px
}

.social-icon{
  font-size: 2rem;
  color: black;
  padding: 10px;
}

.social-icon:hover{
  color: darkgray;
}

.copyright{
  padding: 20px 0px;
  font-size: 1rem;
}

@media (max-width: 990px){

  h1{
    font-size: 4rem;
  }

  .nav-item{
    font-size: 3rem;
  }

  .img-description1{
    font-size: 1.5rem;
  }

  .img-description2{
    font-size: 1.25rem;
  }

  .text{
    font-size: 1.5rem;
  }

  .social-icon{
    font-size: 2rem;
  }
}