body{
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

h1{
  margin-bottom: 60px;
  font-size: 4rem;
  font-weight: 400;
}

img{
  margin: auto;
  height: 100%;
}

img:hover{
}

.img-description{
    padding: 20px 0px;
    text-align: center;
}

.container{
    width: 80%;
    color: black;
    margin-top: 60px;
}

.navbar-toggler-icon{
  font-size: 4rem;
}

.nav-item{
    padding: 10px 10px;
    font-size: 2rem;
    font-weight: 400;
}

.nav-item:hover{
    color: darkgray;
    font-weight: 600;
}

.footer{
    text-align: center;
    margin-top: 40px
}

.social-icon{
    font-size: 1.5rem;
    color: black;
    padding: 10px;
}

.social-icon:hover{
    color: darkgray;
}

.copyright{
    padding: 20px 0px;
}